@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");

body {
  background-image: linear-gradient(0.25turn, #42047e, #07f49e);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Libre Franklin";
}

h2 {
  margin-top: 0;
  font-size: 25pt;
  color: rgb(0, 0, 0, 0.35);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100vh;
}

.controls {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 20px;
  gap: 10px;
}

.controls button {
  display: block;
  background-color: transparent;
  padding: 10px 13px;
  border: 1px solid #07f49e;
  border-radius: 5px;
  color: #07f49e;
}

.controls button:hover {
  background-color: #07f49e;
  border: 1px solid #42047e;
  color: #42047e;
  transition: 0.2s;
}

.game-board {
  display: flex;
  width: 100%;
  box-shadow: 10px 10px 22px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 10px 10px 22px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 22px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: -2;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  min-width: 250px;
  padding: 25px;
  background-color: rgb(66, 4, 126, 0.1);
  border: 1px solid rgb(7, 244, 158, 0.07);
}

.p1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0.02em solid rgb(7, 244, 158, 0.15);
}

.p2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0.02em solid rgb(7, 244, 158, 0.15);
}

.p-active {
  background-color: rgb(255, 255, 255, 0.15);
  transition: ease-in 0.15s;
}

.p-active .total-score {
  color: rgb(60, 28, 129, 0.85);
}

.p-active h2 {
  color: rgb(0, 0, 0, 0.95);
}

.total-score {
  margin-top: 25%;
  margin-bottom: 25px;
  font-size: 60pt;
  font-weight: bold;
  color: rgb(60, 28, 129, 0.35);
}

.curr-score {
  background-color: rgb(60, 28, 129, 0.35);
  width: 50%;
  padding-top: 20px;
  border: 1px solid rgb(66, 4, 126, 0.05);
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255, 0.45);
}

.p-active .curr-score {
  background-color: rgb(60, 28, 129, 0.95);
  color: rgb(255, 255, 255, 0.85);
}

.die-container {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50.85%;
  width: 100px;
  height: 100vh;
  z-index: -1;
}

.die-bg-shape {
  background-color: rgb(66, 4, 126, 0.9);
  border: 1px solid rgb(7, 244, 158, 0.6);
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: block;
  position: fixed;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  z-index: -1;
}

.die {
  display: block;
  top: 31%;
  position: fixed;
  border-radius: 4px;
  font-size: 75pt;
  color: #07f49e;
  -webkit-text-stroke: 1px rgb(66, 4, 126, 0.55);
  /* visibility: hidden; */
}

.is-winner {
  background-color: rgb(7, 244, 158, 0.55);
}

.is-winner .curr-score {
  background-color: #42047e;
  color: rgb(255, 255, 255, 0.85);
}

.is-winner .total-score {
  color: #42047e;
}

.is-winner h2 {
  color: black;
}

.info-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(66, 4, 126, 0.75);
}

.info-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #42047e;
  border: 1px solid rgb(7, 244, 158, 0.75);
  border-radius: 10px;
  z-index: 1;
}

.info-modal-content p {
  padding: 35px 40px;
  color: #07f49e;
  line-height: 130%;
  text-align: justify;
}

.close-modal-btn {
  float: right;
  text-align: center;
  padding: 5px 10px;
  font-size: 20pt;
  color: rgb(7, 244, 158, 0.5);
}

.close-modal-btn:hover {
  color: rgb(7, 244, 158, 0.85);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.hide-modal {
  visibility: hidden;
}
