body {
  background-image: linear-gradient(0.25turn, #42047e, #07f49e);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  gap: 15px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 25%;
}

.game-board {
  display: flex;
  width: 75%;
}

.player {
  width: 50%;
}
